<div class="mails-component">

    <div class="mails-list" ng-if="$ctrl.mails.length">
        <div class="mail" ng-repeat="mail in $ctrl.mails">
            <span class="sender">{{mail.sender.email}}</span>
            <span class="subject">{{mail.subject}}</span>
            <span class="date">{{mail.date}}</span>
        </div>
    </div>

    <div class="empty" ng-if="!$ctrl.mails.length">
        <i class="material-icons">mail</i>
        <p>Sin mensajes que mostrar...<p>
    </div>
</div>
