@import '../../../styles/colorscheme';

.mails-component {

    .mails-list {
        .mail {
            display: flex;

            .sender {
                flex: 0 0 15rem;
            }

            .subject {
                flex: 1;
            }

            .date {
                flex: 0 0 15rem;
            }
        }
    }

    .empty {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $grey-500;
        padding-top: 10rem;

        i {
            background: $grey-300;
            border-radius: 50%;
            font-size: 8rem;
            width: 10rem;
            height: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
