<section class="mail-new-component">
    <header>
        Nuevo Mensaje
    </header>
    <form class="container" novalidate ng-submit="$ctrl.createNewMail($event);">
        <section class="mail-data">
            <md-input-container md-no-float>
                <input ng-model="$ctrl.mail.recipients" placeholder="Destinatarios">
            </md-input-container>
            <md-input-container md-no-float>
                <input ng-model="$ctrl.mail.subject" placeholder="Asunto">
            </md-input-container>
        </section>

        <section class="mail-content">
            <textarea class="mail-editor" ng-model="$ctrl.mail.message"></textarea>
        </section>

        <section class="mail-actions">
            <md-button class="md-raised md-primary">Descartar</md-button>
            <md-button type="submit" class="md-raised md-primary">Enviar</md-button>
        </section>
    </form>
</section>
