@import '../../styles/colorscheme';

.sidebar-component {
    border-right: 1px solid $grey-300;
    height: 100%;
    overflow: auto;

    ul {
        list-style: none;
        border-bottom: 1px solid $grey-300;
        margin: 0;
        padding: 0;

        &:last-of-type {
            border-bottom: none;
        }

        li {
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding-right: 2rem;
            cursor: pointer;
            user-select: none;
            height: 3rem;

            &.active {
                background: $grey-200;
            }

            &:hover {
                background: $grey-200;
            }

            span {
                text-decoration: none;
                margin-left: 1rem;
            }
        }
    }
}
